*
  box-sizing: border-box
  margin: 0
  padding: 0

.container 
  max-width: 1200px
  margin: 0 auto
  
// 1 section ---------------------------------------------------------- //
header
  position: relative
  

video
  position: absolute
  z-index: 0
.menu
  position: absolute
  display: none
  
.slogan
  position: absolute
  color: #fff
  margin: 15% 15%
  text-align: center
.logo
  position: absolute 
  
.logo img
  width: 100px
  height: 100px
  margin: 20%

// 2section -------------------------------------------------------------//


.opis
  position: relative
  
.text
  position: absolute
  color: red
  height: 100vh
  width: 100%
  background: orange 
  float: left
  display: block
